.square {
    float: left;
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    font-family: "Comic Sans MS";

    &.square--first {
        clear: both;
    }

    .red-color {
        color: #ff0000;
    }

    .green-color {
        color: #00ff00;
    }
}